fastapi # connection between frontend and backend
uvicorn # Run frontend application
openai>=1.0.0 # generate models and answers
faiss-cpu #Generate embeddings
youtube-transcript-api # extraction of transcripts for youtube videos
numpy
python-dotenv # Safly load python api
pydantic # check whether input and output data is correct
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu121
